
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index </h2>
<form action="Game/Start">
    @for (var i = 1; i < 5; i++)
    {
        <h2> Player @i</h2>

        var test = "name" + i;
        <select name="color1" />
        <option>Select a Color</option>
        <option>Yellow</option>
        <option>Red</option>
        <option>Blue</option>
        <option>Green</option>
       
        <input type="text" name="@test" /><br>





    }



    <input type="submit">
</form> 