@model WebApp.Models.Player

@{
    ViewData["Title"] = "PlayerEdit";
}

<h2>PlayerEdit</h2>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PlayerEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <input readonly asp-for="PlayerId" class="form-control" />
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input required pattern="^[a-zA-Z ]*$" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerColor" class="control-label"></label>
                <input required asp-for="PlayerColor" class="form-control" />
                <span asp-validation-for="PlayerColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offset" class="control-label"></label>
                <input readonly asp-for="Offset" class="form-control" />
                <span asp-validation-for="Offset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
